<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>GroupMe: Searching</title>
  </head>
  <body>
    <div class="container">
      <h1>GroupMe</h1>
      <h2>We are still searching for a group for you. Hang in there bud!</h2>
      <h3>We will notify you by email once a group is found.</h3>
    </div>
  </body>
</html>
